
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<header class="fullscreen-element no-pad centered-text">
		<div class="background-image-holder parallax-background overlay">
		<img class="background-image" alt="Background Image" src="~/assets/winery/img/main_image.jpg">
		</div>

		<div class="container align-vertical">
			<div class="row">
				<div class="col-md-7 col-sm-8">

				<h1 class="text-white">Xoş gəlmisiniz! Şərab dünyasına səyahətə hazır olun. 
					Üzüm bağlarımızın təbii gözəllikləri və diqqətlə hazırladığımız şərablarımızla sizə 
					unudulmaz dad təcrübəsi təqdim edirik. Qırmızı, ağ və başqa şərab növlərimizlə zövqünüzə uyğun ləzzətlər 
					burada sizi gözləyir.
					</h1>
					<a asp-controller="Wine" asp-action="Index" class="btn btn-primary btn-filled inner-link" target="_self">Elə indi alışveriş et</a>
				</div>
			</div>
		</div>


	</header>

